.all{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color:#443295;
}

.formContainer{
    margin:auto;
    margin-top:100px;
    width:20%;
    height:80%;
    background-color: #4c4cc9;
    border-radius:5%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}


.nameForm{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}